<script >
    window.webLogo = "<%= image_url('logo.png') %>"
    window.auth_back_1 = "<%= image_url('auth_container_background.png') %>"
    window.auth_back_2 = "<%= image_url('auth_container_back2.png') %>"

    window.business = "<%= image_url('business.jpg') %>"
    window.education = "<%= image_url('education.jpg') %>"
    window.food = "<%= image_url('food.jpg') %>"
    window.health = "<%= image_url('health.jpg') %>"
    window.psychology = "<%= image_url('psychology.png') %>"
    window.relationships = "<%= image_url('relationships.jpg') %>"
    window.technology = "<%= image_url('technology.jpg') %>"
    window.lgbt = "<%= image_url('lgbt.jpg') %>"
    window.work = "<%= image_url('work.jpg') %>"
    window.signup1 = "<%= image_url('signup_back1.png') %>"
    window.signup2 = "<%= image_url('signuo_back2.png') %>"
    
    window.github = "<%= image_url('Octocat.png') %>"
    window.linkedIn = "<%= image_url('linkedIn.png') %>"
    window.nav_git ="<%= image_url('github_navbar.png') %>"
    window.nav_linkedIn ="<%= image_url('linkedIn_navbar.png') %>"

    window.tick_circle = "<%= image_url('tick_circle.png') %>"

    window.no_post = "<%= image_url('no_story.png') %>"
    
</script>
<% if current_user %>
      <script>
        window.currentUser = <%= render('api/users/show.json.jbuilder', user: current_user).html_safe %>
      </script>
    <% end %>
<main id="root"></main>