<!DOCTYPE html>
<html>
  <head>
    <title>MediumClone</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cinzel&display=swap" rel="stylesheet">  
    <link href='http://fonts.googleapis.com/css?family=Cinzel+Decorative:700' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">

    
  </head>

  <body >
    <div class='main-container'>
      <%= yield %>
    </div>
    <footer>
      <div>
        <div class="footer-info">
          <div><a href="">Blogium</a></div>
          <div class="footer-info-links">
            <div><a href="">Get Started.</a></div>
            <div><span>Have an account?      </span><a href="">Sign In</a></div>
          </div>
          <div class="footer-info-additional">
            <div><a href="https://github.com/mskhokhar/fsp-medium">Github repository.</a></div>
            <div><a href="">LinkedIn profile link.</a></div>
          </div>
        </div>
        <div class="logo-container">
          <div class="logo-links">
            <a href="https://github.com/mskhokhar/fsp-medium"><img src="<%= image_url('Octocat.png') %>"  alt="github"></a>
          </div>
          <div class="logo-links">
            <a href=""><img src="<%= image_url('linkedIn.png') %>" alt="linkedIn"></a>
          </div>
        </div>
      </div>
    </footer> 
  </body>
</html>
